body
{
    background: #e3e4e6;
    font-size: 14px;

}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    background-color: #e3e4e6;
}

.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: #171f2f;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #171f2f;
    margin: 0 auto;
    font-size: 18px;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid #171f2f;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid #171f2f;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid #171f2f;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #171f2f;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
    padding: 10px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

/* ---- Media Queries Tablets --- */

@media screen and (min-width: 481px) and (max-width: 769px)
{

.container 
{
    height: 565px;
}

}