body
{
    background: #e3e4e6;
    font-size: 14px;
}

img
{
    height: 200px;
    width: 152px;
}

img:hover
{
    transform: scale(2);
}

button
{
    background: #171f2f;
    width: 125px;
    border: none;
    outline: none;
    color:#e3e4e6;
    height: 25px;
    border-radius: 25px;
    margin-top: 10px;
    box-shadow: 0px 5px 15px 0px rgba(25, 0, 175,0.3);
    cursor: pointer;
}

button:hover
{
    background-color: gold;
    color: #171f2f
}

.container_1
{
    color: #171f2f;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px 0;
    margin-left: 50px;
}

.container_products
{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-left: 25px;
}

.container_books
{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:25px;
    text-align: center;
}

.container_book_cards
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding:20px;
    margin: 25px;
    background: whitesmoke;
}

.container_book_cards h3
{
    margin: 5px;
    font-size: 15px;
}

.container_book_cards h5
{
    margin: 5px;
}

.container_book_cards p
{
    margin: 5px;
    font-size: 10px;
}

.container_book_cards h4
{
    margin: 5px;
}

/* ---- Media Queries Smart Phones --- */

@media screen and (max-width: 480px)
{

    .container_1
    {
        margin-top: 100px;
    }
}

/* ---- Media Queries Tablets --- */

@media screen and (min-width: 481px) and (max-width: 768px)
{
    
}